ul,li{
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
.header{
	height: 30px;
	width: 300px;
	background: green;
	line-height: 30px;
}
li{
	width: 300px;
	border-bottom: 1px solid #000;
	overflow: hidden;
}
li .img1{
	height: 30px;
	width: 30px;
}
li span{
	line-height: 30px;
	float: left;
	width: 200px;
}
.div2{
	display: none;
}