p{
	margin: 0px;
}
.box{
	margin: 0 auto;
	background: url(../images/bg.jpg);
	width: 875px;
	height: 550px;
}
.operate{
	height: 80px;
}
.operate a{
	text-decoration: none;
	border: 1px solid #000;
	float: left;
	display: block;
	text-align: center;
	line-height: 20px;
	border-radius: 10px 10px 10px 10px;
	margin-left: 20px;
	margin-top: 40px;
	color: #000;
}
.img1box{
	width: 530px;
	float: left;

}
.img1{
	margin-top: 40px;
	margin-left: 50px;
}
.p1{
	text-align: center;
	margin-top: 10px;
	font-weight: bold;
}
.p2{
	margin-left: 40px;
}
.img2box{
	float: right;
}
.img2{
	margin-top: 40px;
	margin-right: 70px;
}
.p3{
	margin-left: 55px;
	margin-top: 10px;
	font-weight: bold;
}
.p4{
	margin-left: 220px;
}