*{
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	text-decoration: none;
}
#box{
	margin:0 auto;
	width: 500px;
}
.tlist{
	overflow: hidden;
}
.tlist a{
	float: left;
	text-align: center;
	line-height: 30px;
	width: 100px;
	color: rgb(255,255,255);
	border: 1px solid rgb(255,255,255);
	background-color: rgb(12, 234, 157);
}
.bbox{
	overflow: hidden;
	height: 229px;
}
.imgbox{
	float: left;
}
.imgbox img{
	width: 400px;
}
.rlist{
	overflow: hidden;
}
.rlist a{
	float: right;
	width: 100px;
	height: 76px;
	text-align: center;
	line-height: 75px;
	color: rgb(255,255,255);
	border: 1px solid rgb(255,255,255);
	background-color: #ccc;
}