	ul,p{
		padding: 0px;
		margin: 0px;
	}
	li{
		list-style-type:none;
	}

	.adiv{
		width: 150px;
		border: 1px solid #000;
	}
	.p1{
		height: 30px;
		background-color: #00FFCA;
		text-align: center;
		line-height: 30px;
		font-size: 20px;
		cursor: pointer;

	}

	.li2{
		height: 20px;
		text-align: left;
		line-height: 20px;
		font-size: 15px;
		border-top: 1px solid #000;

	}
	