#div_all {
	width: 400px;
	height: 400px;
	position: relative;
	top: 200px;
}
h6 {
	border-bottom: 2px solid #000;
}
div ul {
	padding: 0px;
}
#div_all .list {
	list-style-type: none;
	width: 100px;
	height: 100px;
	line-height: 5px;
	font-size: 10px;
	text-align: center;
	float: left;
	cursor: pointer;
}
#div_all .list .list_img {
	width: 50px;
	height: 50px;
}
#tips{
	position: absolute;
	width: 200px;
	height: 100px;
	background-color: #1EF0BD;
	left: 50px;
	top: -50px;
	display: none;

}
#tips_1{
	position: absolute;
	width: 200px;
	height: 100px;
	background-color: #1EF0BD;
	left: 150px;
	top: -50px;
	display: none;
}
#tips_2{
	position: absolute;
	width: 200px;
	height: 100px;
	background-color: #1EF0BD;
	left: 250px;
	top: -50px;
	display: none;
}
#tips_3{
	position: absolute;
	width: 200px;
	height: 100px;
	background-color: #1EF0BD;
	left: 350px;
	top: -50px;
	display: none;
}
#tips_4{
	position: absolute;
	width: 200px;
	height: 100px;
	background-color: #1EF0BD;
	left: 50px;
	top: 50px;
	display: none;
}
#tips_5{
	position: absolute;
	width: 200px;
	height: 100px;
	background-color: #1EF0BD;
	left: 150px;
	top: 50px;
	display: none;
}
#tips_6{
	position: absolute;
	width: 200px;
	height: 100px;
	background-color: #1EF0BD;
	left: 250px;
	top: 50px;
	display: none;
}
#tips_7{
	position: absolute;
	width: 200px;
	height: 100px;
	background-color: #1EF0BD;
	left: 350px;
	top: 50px;
	display: none;
}